// -------------------------------------------------------
// This file contains all application-wide Sass variables.
// -------------------------------------------------------

// change bootstrap default font
$font-family-sans-serif: "Roboto", sans-serif; // postavljamo vrijednost za bootstrap-ovu varijablu

// PATHS
$base-url: "/assets/" !default;

// enable bootstrap gradients
$enable-gradients: true;

// Color system
$gray-555: #555;
$mulberry-dark: #8d3349;
$mulberry-light: #c6617a;
